html body {
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vh;
    flex-direction: column;
}

#container {
    height: 420px;
    width: 420px;
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
}

.buttonarea {
    display: flex;
    justify-content: space-around;
    width: 20vw;
}

.blue {
    flex: 1;
    flex-basis: auto;
    width: 13px;
    /* border: 1px solid rgb(139, 139, 139); */
    box-sizing: border-box;
    background-color: blue;
    
  
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
    padding: 15px;
}

.yellow {
    background-color: yellow;
}

/* .blue:hover {
    background-color: yellow;
} */

#container:hover {
    cursor: pointer;
}